/*
  colours: white: #F7E8F6; accent: #BD83CE; sub-accent(hover): E5B0EA

*/

html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.iframe-container {
  width: 90%;
  margin: 0;
  padding: 4px 0px;
}
.iframe-container:hover, .iframe-container:active {
  background-color: #E5B0EA;
  transition: 200ms;
}
.iframe-container-toggle {
  background-color: #BD83CE !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: 100px auto auto auto 40px;
  grid-gap: 10px;
  align-items: flex-start;
  grid-template-areas: "header header"
                       "ml ms"
                       "hl hs"
                       "bl bs"
                       "btn ."
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: none;
  margin: none;
  background-color: #BD83CE;
  grid-area: header;
}
.header-item {
  text-align: center;
  vertical-align: center;
}

.label {
  font-family: 'Roboto', sans-serif;
}
.song-search {
  padding: 10px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  width: 90%;
  background: none;
  border: none;
  border-bottom: 2px solid #BD83CE;
}
.song-search:hover {
  border-color: #E5B0EA;
}
.grid-item {
  align-self: baseline;
  padding: 10px;
}
.ml {
  grid-area: ml;
}
.ms {
  grid-area: ms;
}
.hl {
  grid-area: hl;
}
.hs {
  grid-area: hs;
}
.bl {
  grid-area: bl;
}
.bs {
  grid-area: bs;
}
.genbtn {
  font-family: 'Roboto', sans-serif;
  grid-area: btn;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #BD83CE;
}
.genbtn:hover, .genbtn:active {
  border-color: #E5B0EA;
}
