<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/master.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/resources/treble_fav.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <script src="/static/script.js" charset="utf-8"></script>
    <title>SongWeave</title>
  </head>
  <body class="grid-container">
    <div class="header-container grid-item">
      <h1 class="header-item">SongWeave</h1>
    </div>


    <p class="label grid-item ml">
      Search for a song: <strong>Melody</strong>
    </p>
    <div class="grid-item ms">
      <input type="text" placeholder="Search for a Song" class="song-search" id="melody-search"></input>
    </div>

    <p class="label grid-item hl">
      Search for a song: <strong>Harmony</strong>
    </p>
    <div class="grid-item hs">
      <input type="text" placeholder="Search for a Song" class="song-search" id="harmony-search"></input>
    </div>
    <p class="label grid-item bl">
      Search for a song: <strong>Beat</strong>
    </p>
    <div class="grid-item bs">
      <input type="text" placeholder="Search for a Song" class="song-search " id="beat-search"></input>
    </div>

    <button type="button" name="submit" class="grid-item genbtn">Generate Song</button>
  </body>
</html>
